/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-notched-outline__notch{
    border-right: none;
}
.face-fullscreen-dialog .mdc-dialog__surface,
.face-fullscreen-dialog .mat-mdc-dialog-surface {
  width: 100vw !important;
  height: 100dvh !important;
  max-width: 100vw !important;
  max-height: 100dvh !important;
  margin: 0 !important;
  border-radius: 0 !important;
  overflow: hidden !important;
}

.face-fullscreen-dialog .mat-mdc-dialog-container {
  padding: 0 !important;
}
